/* .uncontrolled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  } */
   .uncontrolled__button {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    padding: 5px 10px;
  }
  .uncontrolled__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  /* .uncontrolled {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.uncontrolled label {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.uncontrolled label p {
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.uncontrolled__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none; /* Prevents text from being selectable on click */
}

.uncontrolled__checkbox input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.uncontrolled__button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.uncontrolled__button:hover {
    background-color: #0056b3;
}
