/* .multiple {
    display: flex;
    flex-direction: column;
} */

.multiple__text, 
.multiple__input, 
.multiple__textarea {
    margin-bottom: 20px;
}

.multiple__button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.multiple__button:hover {
    background-color: #0056b3;
}
